@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 15rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.subheader {
  padding: 2rem 0 3rem;  
  text-align: center;
  color: #FFFFFF;
  opacity: 0.8;
}