@import '../../../../styles/vars.scss';
@import '../../../../styles/mixins.scss';

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  &__items {
    padding: 0;
    font-size: 2em;
  }

  &__item {
    margin: 3rem 0;
    text-align: center;
    list-style: none;
    @include mt();
    &:hover {
      color:#FC3B3B;
    }
  }
}
