@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.rules-text {
  font-size: 2rem;
}

.rules-text-wrapper {
  margin-top: 3rem;
}

.videoPlayer {
  border: none;
}

.about {
  display: flex;
  padding-top: 15rem;
 }

.left-half {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right-half {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}

.descr-wrapper {
  text-align: right;
  margin-top: 1rem;
}

.descr-bold {
  font-size: 1.2rem;
  font-weight: 800;
}
.descr-regular {
  font-size: 1.2rem;
}