@import './styles/vars.scss';
@import './styles/mixins.scss';
@import '../node_modules/normalize-scss/sass/normalize/import-now';

html {
  font-size: 10px;
  @include mainFont;
  color: $secondary-color;
  @include mt();
}

body {
  background: $accent-color;
  font-size: 1.6rem;
}

.container {
  padding: 5rem 2rem;
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 3.6rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
}

h3 {
  margin: 0;
}

p {
  font-size: 1.4rem;
  line-height: 140%;
  margin: 0;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

.btn-main {
  padding: 1rem;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  border-radius: 3rem;
  font-weight: 700;
  width: 15rem;
  outline: none;
  border: none;
  cursor: pointer;
  &:hover {
    @include mt();
    opacity: 0.8;
  }
}
