@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#canvas {
  // display: none;
  // width: 500px;
  // height: 500px;
  background-color: $darker-color;
}